*{
    margin: 0;
    padding: 0;  
    border:1px solid rgba(0,0,0,0.1);  
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
html,body
{
    height:100%;
}
main
{
    flex:1 0 auto;
}
footer
{
    flex-shrink:0;
}
nav ul{
    display: flex;
    list-style: none;
    align-items:center;
    justify-content:stretch;
    margin: 0;
}
nav li{
    margin: 0 1em 0 1em;
}
nav li:first-child
{
    margin-left: 0;
}
nav li:last-child
{
    margin-right:0;
}

nav.indicator
{
    position:absolute;
    top:0px;
    height:2px;
    overflow:hidden;
}
nav.indicator a{
    color: transparent;
}
nav.indicator a.active{
    background-color:rgb(81, 81, 81);
    text-decoration: none; 
}
nav a
{
    font-family: GilroyRegular;
    color:rgb(81, 81, 81);
    text-decoration: none !important;
}
nav a:hover,nav a:active{
    opacity:0.5;
}
nav a.active
{
    text-decoration: none;
    cursor: default; 
    opacity:1.0 !important;
    font-family: GilroyBold;
}

.body
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container
{
    width: 100%;
    max-width:760px;
    margin: 2em 0em 2em 0em;
    /* for testing */
}
.footer
{
    margin: 2em 0em 2em 0em;
}

#navigation{
    display:flex;
    width: 100%;
    justify-content:space-between;
    align-items:stretch;
}

#cover{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    align-items:center;
    justify-content: center;
}
#top
{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
}

/* https://feathericons.com/ */

h1 a, h2 a, h3 a{ 
    color: rgb(111, 237, 218);  
}
a{
    color: rgb(86, 198, 181);
}
a:link, a:visited
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

/* main .container
{
    max-width:600px;
} */

#TableOfContents ul{
    /* width: 100%; */
    flex-flow: column;
    align-items:flex-start;
    /* justify-content: stretch; */
    /* justify-items: stretch; */
    /* border:1px solid green; */
    /* max-width: 33%; */
}
#TableOfContents  li{
    margin: 1em 0em 1em 0em;
}
#TableOfContents   li:first-child
{
    margin-top: 0;
}
#TableOfContents   li:last-child
{
    margin-bottom:0;
}
main .container
{
    display: flex;
    justify-content:space-between;
    justify-items: stretch;
    /* gap: 2.0em; */
    /* border:1px solid green; */
}
aside{
    /* position: absolute; */
    /* left:40%; */
    margin: 2.0em 0em 2.0em 0em; 
    /* border: 1px solid green; */
}

section
{
    margin: 2.0em 0em 2.0em 0em;
    max-width:600px;
    /* max-width: 66%; */
}
article
{
    margin: 1.0em 0em 1.0em 0em;   
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    color:rgb(53, 53, 53);
    margin: 1.0em 0em 1.0em 0em;  
}
ul{
    margin: 1.0em 0em 1.0em 0em;
}
li{
    margin: 0.5em 0em 0.5em 0em; 
}
section ul{
    list-style: none;
    /* margin-left:0.5em; */
}
body{
    font-family: GilroyRegular;
}
a{
    font-family: GilroyMedium;
}
p{
    font-family: GilroyRegular;
    font-size: 0.95em;
    letter-spacing: 0.033em;    
    line-height: 1.7em;
    color:rgb(97, 97, 97);
}
p em{
    font-family: GilroyMedium;
    color:rgb(32, 32, 32);
}
p strong{
    font-family: GilroyMedium;
    color:rgb(32, 32, 32);
}
h1{
    font-family: GilroyThin;
    font-size: 2.5em;
    line-height: 1.2em;    
}
h1 strong{
    font-family:GilroyLight;
    color:rgb(15, 15, 15);
}
h2{
    font-family: GilroyLight;
    font-size: 1.75em;
    line-height: 1.125em;   
    letter-spacing: 0.033em;   
}
h2 strong{
    font-family:GilroyRegular;
    color:rgb(15, 15, 15);
}
h2 em
{
    font-family:GilroyThin;  
}
h3{
    font-family: GilroyLight;
    font-size: 1.0em;
    line-height: 1.7em;   
    letter-spacing: 0.033em;  
}
h3 strong{
    font-family:GilroyRegular;
    color:rgb(15, 15, 15);
}
h3 em
{
    font-family:GilroyThin;  
}
h4{
    font-family: GilroyMedium;
    font-size: 0.75em;
    line-height: 1.125em;   
    letter-spacing: 0.033em;   
}    
h4 strong{
    color:rgb(15, 15, 15);
}
h4 em
{
    font-family:GilroyRegular;  
}
h1 em,h2 em,h3 em,h4 em{
    color:rgb(135, 135, 135);  
}
/* h1 strong, */
h2 strong,h3 strong,h4 strong{
    text-transform: uppercase;
}

code{
    background-color: rgb(246, 246, 246);
    border:1px solid rgb(239, 239, 239);
    width:100%;
    display: block;
    padding:1.0em;
    border-radius: 0.33em;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 0.5em;
}

/* floating img */
main img{
    float:right;
    clear:both;
    padding: 1.0em;
}



/* Fade everything on a successful click to white. This will make it feel slick w/o needed any 'ajax' */