*{
    margin: 0;
    padding: 0;    
}
body{
    font-family: GilroyRegular;
    box-sizing: border-box;
}

nav ul{
    display: flex;
    list-style: none;
    align-items:center;
    justify-content:stretch;
}

nav li{
    margin: 0 1em 0 1em;
}
nav li:first-child
{
    margin-left: 0;
}
nav li:last-child
{
    margin-right:0;
}

nav ul .vertical
{
    border: 1px solid green;
    flex-direction: column !important;
}

nav.indicator
{
    position:absolute;
    top:0px;
    height:2px;
    overflow:hidden;
}
nav.indicator a{
    color: transparent;
}
nav.indicator a.active{
    background-color:rgb(81, 81, 81);
}

.body
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container
{
    width: 100%;
    max-width:760px;
    margin: 2em 0em 2em 0em;
    /* for testing */
}
.footer
{
    margin: 2em 0em 2em 0em;
}

#navigation{
    display:flex;
    width: 100%;
    justify-content:space-between;
    align-items:stretch;
}

#cover{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    align-items:center;
    justify-content: center;
}
#top
{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
}


/* https://feathericons.com/ */

a{
    font-family: "GilroyRegular";
    font-size: 0.9em;
    letter-spacing: 0.033em;
    color:rgb(81, 81, 81);
}
a:hover
{
    color:black;
    text-decoration: underline !important;
}
a:link, a:visited
{
    text-decoration: none;
}
a:active
{
    color:hotpink;
}
a.active
{
    font-family: GilroyBold;
}
h1{

}
h2{

}
h3{

}
h4{

}
h5{

}
h6{

}
p{

}