<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div id="top" class="body">
            <div class="container">
                <div id="navigation">
                    {{ partial "logo" . }}
                    {{ partial "nav" . }}
                </div>
                {{- block "cover" . }}{{- end }}
            </div>
        </div>
        <div id="bottom" class="body">
            <div class="container">
                {{- block "main" . }}{{- end }}
                {{- partial "footer.html" . -}}
            </div>
        </div>
    </body>
</html>