{{ define "main" }}

<h1>{{ .Title }}</h1>
<!-- {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }} -->
<!-- {{ $pages := where site.RegularPages "Type" "in" .Page.Params.mainSections }} -->





<!-- {{ partial "featured.html" . }} -->

<!-- {{ $pages := where .Pages "Kind" "page" }}
<h1>Primary</h1>
{{ range $pages }}
<ul>
{{ partial "preview.html" . }}
</ul>
{{ end }} -->

<!-- {{ partial "sections.html" . }} -->

{{ $currentPage := .CurrentSection }}
<ul>
{{ range (where .RegularPagesRecursive "Params.featured" true ) }}
    <li><a href="{{ .RelPermalink }}">
    {{ if eq $currentPage .CurrentSection }}
    {{ .Title }}
    {{ else }}
    {{ .Parent.Title }} - {{ .Title }}
    {{ end }}
    </a></li>
{{ end }}
</ul>

<!-- {{ range (where .Site.Pages "Params.featured" true ) }}
{{ .Title }}
{{ end }} -->

<!-- {{ range .Sections }}
    {{ $features := where .Pages "Params.featured" true  }}
    {{ if $features }}
    <div class="featured">
        <h2>Featured {{ .Title | humanize }}</h2>
        <ul>
            {{ range $features }}
            {{ partial "preview.html" . }}
            {{ end }}
        </ul>
    </div>
    {{ end }}
{{ end }} -->

{{ end }}