{{ define "main" }}

<h1>{{ .Title }}</h1>


<div class="featured">
   <h3>Featured</h3>
    <ul>
    {{ range where .Pages "Params.featured" true  }}   
        <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>

<h3>All</h3>
{{ range .Pages.ByPublishDate.Reverse }}
<p>
    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    {{ partial "metadata.html" . }}
    <a class="summary" href="{{ .RelPermalink }}">
        <p>{{ .Summary }}</p>
    </a>
</p>
{{ end }}



{{ end }}