{{ define "cover" }}
    <div id="cover">
        <h1>{{ .Title }}</h1>
    </div>
{{ end }}

{{ define "main" }}
<!-- <h1>{{ .Title }}</h1> -->
<!-- {{ partial "metadata.html" . }} -->

<div>
    <section>
        {{ .Content }}
        {{ partial "sections.html" . }}
    </section>
</div>

<div>
    <aside>
        {{ .TableOfContents }}
    </aside>
</div>

{{ .Section }}
<ul>
    {{ range .Pages }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
</ul>

<!-- {{ partial "taxonomies.html" . }} -->
{{ end }}