{{ define "cover" }}
{{ with .Params.Cover }}
<div id="cover">      
  {{ if .Link }}<a href="{{ .Site.BaseURL }}{{ (urls.Parse .Link).Path }}">{{ end }}
    <figure>
      {{ if .Title }}<h1>{{ .Title }}</h1>{{ end }}
      {{ if .Image }}<img src="{{ .Image }}"/>{{ end }}
    </figure>
  {{ if .Link }}</a>{{ end }}
</div>
{{ end }}
{{ end }}

{{ define "main" }}
<div class="homepage-content">
  {{.Content}}
</div>


  <!-- <main aria-role="main">
    <header class="homepage-header">
      <h1>{{.Title}}</h1>
      {{ with .Params.subtitle }}
      <span class="subtitle">{{.}}</span>
      {{ end }}
    </header>
    <div class="homepage-content">
      {{.Content}}
    </div>
    <div>
      {{ range first 10 .Site.RegularPages }}
          {{ .Render "summary"}}
      {{ end }}
    </div>
  </main>

  <div class="homepage_featured">
    <h3>Featured on the Homepage</h3>
     <ul>
      {{ range where .Site.RegularPages "Params.homepage" true }}   
      <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
      {{ end }}
     </ul>
 </div>   -->

 
{{ end }}