{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      <h1>{{.Title}}</h1>
      {{ with .Params.subtitle }}
      <span class="subtitle">{{.}}</span>
      {{ end }}
    </header>
    <div class="homepage-content">
      {{.Content}}
    </div>
    <div>
      {{ range first 10 .Site.RegularPages }}
          {{ .Render "summary"}}
      {{ end }}
    </div>
  </main>

  <div class="featured">
    <h3>Featured</h3>
     <ul>
     {{ range where .Site.RegularPages "Params.homepage" true }}   
         <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
         </li>
         {{ end }}
     </ul>
 </div>  
{{ end }}